# Actualizar datos cada hora
0 * * * * php /var/www/html/api/mercados/criptosapi.php >> /var/log/cron.log 2>&1
0 * * * * php /var/www/html/api/mercados/accionesapi.php >> /var/log/cron.log 2>&1
0 * * * * php /var/www/html/api/noticias/tecnologiasapi.php >> /var/log/cron.log 2>&1
0 * * * * php /var/www/html/api/noticias/negociosapi.php >> /var/log/cron.log 2>&1

# Enviar newsletter diariamente a las 8:00 AM
0 8 * * * php /var/www/html/api/newsletter/newsletter.php >> /var/log/cron.log 2>&1
