services:
  app:
    build: .
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    environment:
      - DB_HOST=postgres  
      - DB_NAME=newsletter_db
      - DB_USER=usr_botbi
      - DB_PASS=contrasena123
    env_file:
      - .env
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: newsletter_db
      POSTGRES_USER: usr_botbi
      POSTGRES_PASSWORD: contrasena123
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./database/db.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"

volumes:
  db_data: